@charset "utf8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(189, 213, 221);
}

body {
    /* background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet); */
    font-family: Arial;
}

header {
    padding: auto;
    width: auto;
    height: 30px;
    background: linear-gradient(rgb(105, 105, 233),rgb(43, 58, 155));
    margin-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

img {
    background: none;
    padding: auto;
}

#logo{
    width: 100px;
    height: 30px;
    margin-right: 2px;
    border: #ffffff;
    background-image: linear-gradient(white,rgb(182, 182, 182));
}

.inicial {
    padding: none;
    justify-content: flex-start, space-around;
    display: inline-flex;
    flex-direction: initial;
    background: none;
    align-items: center;
}


.busca {
    padding: none;
    align-items: center;
    justify-content: flex-end;
    display: flex;
    flex-wrap: wrap;
    background: none;
}

input{
    background-color: #ffffff;
    border: none;
}

#pesquisa{
    background-color: #191791;
    border-radius: 5px;
    align-items: center;
}

button {
    padding-right: 2px;
    padding-left: 2px;
    border: none;
    margin: 1px;
    background: none;
    color: #ffffff;
    cursor: pointer;
    font-style: arial;
}

button:hover {
    text-decoration: underline;
}

.buttonlateral {
    border-top: #888888;
    margin: 1px;
    margin-left: 9px;
    color: black;
    display: flex;
    flex-direction: column;
}

.buttonlateral{
    display: flex;
    justify-content: flex-start;
}

.sobreOperfil{
    color: black;
}
 
.principal {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

nav {
    background-color: #ffffff;
    padding-top: 10px;
    width: 150px;
    height: 500px;
    margin: 5px;
    margin-bottom: 100px;
    border-radius: 10px; 
}

main {
    background-color: #ffffff;
    padding: 10px;
    width: 600px;
    height: 300px;
    margin: 5px;
    border-radius: 10px;
    border-top-right-radius: 60px;
}

#niver{
    background-color: #ffffff;
    padding: 10px;
    width: 600px;
    height: 300px;
    margin: 5px;
    margin-top: 5px;
    border-radius: 10px;
}



#column{
    display: flex;
    flex-direction: column;
}


.barramigos {
    background-color: #ffffff;
    padding: 1px;
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
}

.barramigos div{
    display: flex;
    flex-wrap: wrap;
    background: none
}

.perfils {
    display: flex;
    flex-direction: column;
    align-items: center;
    color:rgba(0, 0, 255, 0.699);
    padding: 5px;
    margin: 5px;
    background-color: #dadada;
    border-radius: 5px;
    width: 85px;
    height: auto;
    
}

.Amigos {
    width: 80px;
    height: 80px;

}

.comunidades{
    background-color: #ffffff;
    padding: 1px;
    width: 300px;
    height: auto;
    margin: 5px;
    border-radius: 10px;
}

h1{
    background: none;
}

h3 {
    padding: 7px;
    color: rgb(0, 0, 0);
    background: none
}

.nome {
    color: rgb(43, 58, 155);
}


footer {
    display: flex;
    justify-content: center;
    align-items: baseline;
    
}

